:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--lightGreen: hsl(154, 65%, 68%);
	--blue: hsl(248, 32%, 49%);
	--darkBlue: hsl(249, 10%, 26%);
	--grayBlue: hsl(246, 25%, 77%);
	--white: hsl(0, 100%, 100%);
	--lightBlack: hsla(0, 0%, 0%, 0.14);
	--lightBlack2: hsla(0, 0%, 0%, 0.09);
	--gray: hsl(0, 0%, 87%);
}
